.bg-image {
    background: url("images/image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    filter: blur(4px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu-wrapper {
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    align-items: center;
    height: 80vh;
}

.intro-screen-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 41.5vw;
    background-color: rgba(77, 21, 21, 0.7);
    border-radius: 20px;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.diner-header {
    padding: 1vw;
    margin-top: 1vw;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diner-header-img {
    width: 14vw;
    height: 14vw;
    background: url("images/masa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.diner-header h1 {
    font-family: 'Cherry Cream Soda', cursive;
    color: white;
    font-size: 4.3vw;
    margin: 0;
    text-align: center;
}

.message-box-style {
    padding: 1.3vw;
    font-size: .9vw;
    white-space: pre-line;
}


.time-choice {
    background-color: black;
    font-size: 1.5vw;
    text-align:center;
    padding-top: .5vw;
    padding-bottom: .5vw;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all .2s;
    cursor: pointer;
}

.time-choice:hover {
    background-color: rgb(210, 121, 37);
    letter-spacing: 2px;
}

.menu-display-container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}

.menu-header h2 {
    margin-block-start: 1em;
    margin-block-end: 0.3em;
    margin-left: 1.8vw;
    padding: 8px 0px;
    letter-spacing: 3px;
    font-size: 1.2vw;
}

.menu-header {
    background-color: darkslategray;
    color: white;
    box-shadow: 10px 10px 17px -2px rgba(0, 0, 0, 1);
}

.menu-list {
    background-color: rgba(240, 240, 240, 1);
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 10px 10px 17px -2px rgba(0, 0, 0, 1);
    width: 96%;
    margin-left: 4%
}

.menu-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding-left: 2em;
    padding-top: 3px;
    transition: all .2s;
    cursor: pointer;
}

.menu-item:nth-child(even) {
    background-color: rgba(255, 255, 255, 1);

}

.menu-item:hover {
    background-color: rgb(101, 136, 128);
    letter-spacing: 1px;
}

.item-name {
    font-size: .8vw;
}

.item-desc {
    font-size: .6vw;
    padding-left: 15px;
    padding-bottom: 10px;
}

.item-price {
    font-size: .8vw;
    margin-right: 2em;
}


.order-display-container {
    margin: 0px 20px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 1);

}

.order-header {
    background-color: darkslategray;
    color: white;
    /* box-shadow: 10px 10px 17px -2px rgba(0,0,0,1); */
}

.order-header h2 {
    margin-block-start: 0em;
    margin-block-end: 0.3em;
    margin-left: 1.8vw;
    padding: 10px 0px;
    letter-spacing: 3px;
    font-size: 1.3vw;
}

.order-list {
    min-height: 20vh;
    max-height: 30vh;
    margin-right: 4%;
    overflow-y: scroll;
    background-color: white;
}

.order-item {
    font-size: .8vw;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: center;
    padding-top: .3vw;
    padding-bottom: .3vw;
    padding-left: 2.5vw;
}


.order-item:nth-child(even) {
    background-color: rgba(240, 240, 240, 1);

}

.order-item:hover {
    background-color: rgba(220, 220, 220, 1);
    font-weight: 700;
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.order-price, .total-payment-amount {
    justify-self: right;
}

.order-remove {
    cursor: pointer;
    color: darkred;
    justify-self: center;
    padding: 1em;
}

.order-remove:hover {
    color: red;
    font-weight: 700;
}


.total-payment {
    background-color: rgb(47, 101, 105);
    color: white;
    margin-right: 4%;
    padding-left: 2.5vw;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    justify-self: flex-end;
    font-size: .8vw;
    font-weight: 700;
    box-shadow: 10px 10px 17px -2px rgba(0, 0, 0, 1);
}

.buttons-wrapper input {
    padding: 1.1vw;
    margin: 1vw;
    font-size: .8vw;
    background-color: darkslategray;
    color: white;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-around;
}

.please-order-text {
    font-size: .7vw;
    padding: .4em;
    margin-left: 5%;
}

.toggle-visible {
    display: none;
}

footer {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: .9vw;
    padding-right: 2vw;
}

.left-column {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.Logo {
    background-repeat: no-repeat;
    border-radius: 4px;
    padding-left: 2.5vw;
    padding-right: 155px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    position: fixed
   
}